<manifest  xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.woody.test"
          android:sharedUserId="string"
          android:sharedUserLabel="string resource"
          android:versionCode="0.01"
          android:versionName="0.01版"
          android:installLocation="auto">
<!--["auto" | "internalOnly" | "preferExternal"] -->

<uses-permission android:name=”android.permission.CALL_PHONE”></uses-permission>
</manifest>
